body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */
/* ------- common styles ------- */

.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.title-accent {
  color: #fd9222;
}

.section-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.nav-list {
  display: flex;
  gap: 24px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: color 250ms ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .made .container {
    width: 678px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .made .container {
    width: 1166px;
  }
}

/* ---------------------- */
/* ------- header ------- */

.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-nav-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;

  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-accent {
  font-style: italic;
}

.header-nav-list {
  display: none;
}

.header-soc-list {
  display: none;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-open-icon {
  stroke: #111;
  transition: stroke 250ms ease;
}

.menu-open-icon:hover,
.menu-open-icon:focus {
  stroke: #fd9222;
}

/* --------------------------- */
/* ------- mobile menu ------- */

.mob-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms ease, visibility 250ms ease;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 88px;

  display: block;
  margin-left: auto;
}

.menu-close-icon {
  stroke-width: 2px;
  stroke: #fff;
  transition: stroke 250ms ease;
}

.menu-close-icon:hover,
.menu-close-icon:focus {
  stroke: #fd9222;
}

.menu-nav-container {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.menu-nav-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;

  transition: color 250ms ease;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
  color: #fd9222;
}

.menu-soc-list {
  display: flex;
  gap: 18px;
}

.menu-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.menu-soc-icon {
  fill: #fff;
  transition: fill 250ms ease;
}

.menu-soc-icon:hover,
.menu-soc-icon:focus {
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .header-nav {
    margin-right: 48px;
  }

  .header-nav-list {
    display: flex;
    gap: 24px;
  }

  .header-nav-link {
    color: #111;

    display: inline-block;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-soc-list {
    display: flex;
    gap: 18px;
  }

  .header-soc-link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-soc-icon {
    fill: #111;

    transition: fill 250ms ease;
  }

  .header-soc-icon:hover {
    fill: #fd9222;
    /* stroke: #fd9222; */
  }

  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-right: 90px;
  }

  .header-nav-logo {
    font-size: 18px;
    line-height: 1.11;
  }
}

/* -------------------- */
/* ------- hero ------- */

.hero {
  padding-bottom: 60px;
}

.hero-container {
  background-color: gray;
  padding: 395px 20px 20px;

  border-radius: 30px;

  background-image: linear-gradient(
      rgba(17, 17, 17, 0.3),
      rgba(17, 17, 17, 0.3)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.3),
        rgba(17, 17, 17, 0.3)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-first-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;

  border-radius: 100px;
  padding: 12px 28px;

  background-color: #fd9222;
  border: none;

  transition: color 250ms ease, background-color 250ms ease;
}

.hero-first-btn:hover,
.hero-first-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-second-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: transparent;

  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;

  margin-left: auto;

  transition: color 250ms ease, background-color 250ms ease;
}

.hero-second-btn:hover,
.hero-second-btn:focus {
  color: #fd9222;
  border: 1px solid #fd9222;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;

  margin-top: 32px;

  display: flex;
  align-items: center;
  gap: 14px;

  transition: color 250ms ease;
}

.scroll-icon {
  width: 38px;
  height: 38px;
  background-color: #fafafa;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill 250ms ease, background-color 250ms ease;
}

.scroll-icon svg {
  fill: #fd9222;
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
  color: #fd9222;
}

.hero-scroll-btn:hover .scroll-icon,
.hero-scroll-btn:focus .scroll-icon {
  background-color: #fd9222;
}

.hero-scroll-btn:hover .scroll-icon svg,
.hero-scroll-btn:focus .scroll-icon svg {
  fill: #fff;

  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(2px);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 40px;
  }

  .hero-container {
    padding: 670px 40px 40px;

    background-image: linear-gradient(
        rgba(17, 17, 17, 0.3),
        rgba(17, 17, 17, 0.3)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.3),
          rgba(17, 17, 17, 0.3)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 28px;
    line-height: 1.21;

    max-width: 484px;
  }

  .hero-first-btn {
    padding: 14px 40px;
  }

  .hero-second-btn {
    padding: 14px 40px;
    margin-left: 14px;
  }

  .hero-scroll-btn {
    margin-top: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 72px;
  }

  .hero-container {
    padding: 380px 40px 40px;

    background-image: linear-gradient(
        rgba(17, 17, 17, 0.3),
        rgba(17, 17, 17, 0.3)
      ),
      url(../images/hero-bg.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.3),
          rgba(17, 17, 17, 0.3)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }
}

/* ------------------------ */
/* ------- features ------- */

.features {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}

.features-list-item {
  position: relative;
  padding-right: 28px;
}

.features-icon-wrapper {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.features-icon {
  fill: #fd9222;
}

.features-list-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-list-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 32px;
  }

  .features-list-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .features-list-item {
    width: calc((100% - 2 * 88px) / 3);
    padding-right: 0;
  }

  .features-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/* --------------------- */
/* ------- taste ------- */

.taste {
  padding-top: 60px;
  padding-bottom: 30px;
}

.taste-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.taste-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-list-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #fff;
  padding: 28px;
  width: 100%;

  position: relative;
  overflow: hidden;
}

.orange-item {
  border: none;
  background-color: #fd9222;
}

.black-item {
  border: none;
  background-color: #1e1823;
}

.taste-img {
  margin: 0 auto;
  margin-bottom: 36px;
}

.taste-list-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.white-subtitle {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 20px;
  border-radius: 15px;

  background-color: #fff;

  transform: translateY(100%);
  transition: transform 250ms ease;
}

.taste-list-item:hover .overlay {
  transform: translateY(0);
}

.taste-list-item:hover {
  border-color: transparent;
}

.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;

  margin-bottom: 8px;
}

.overlay-btn-container {
  display: flex;
  gap: 6px;
  align-items: center;

  margin-bottom: 14px;
}

.overlay-primary-btn {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;

  border-radius: 35px;
  padding: 6px 16px;

  background-color: #fd9222;
  border: none;

  transition: color 250ms ease, background-color 250ms ease;
}

.overlay-primary-btn:hover,
.overlay-primary-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.overlay-secondary-btn {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #111;
  background-color: transparent;

  border-radius: 35px;
  padding: 6px 16px;
  border: 1px solid #fd9222;

  transition: color 250ms ease, background-color 250ms ease;
}

.overlay-secondary-btn:hover,
.overlay-secondary-btn:focus {
  color: #fff;
  background-color: #fd9222;
}

.overlay-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;

  display: -webkit-box;
  -webkit-line-clamp: 9; /* Кількість рядків */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.semi-sweet-overlay {
  -webkit-line-clamp: 7;
}

@media screen and (min-width: 768px) {
  .taste {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .taste-title {
    max-width: 411px;
    margin-bottom: 28px;
  }

  .taste-text {
    max-width: 486px;
    margin-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-list-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-list {
    gap: 19px;
  }

  .taste-list-item {
    width: calc((100% - 3 * 19px) / 4);
  }
}

/* -------------------- */
/* ------- made ------- */

.made {
  padding-top: 30px;
  padding-bottom: 30px;
}

.made-title {
  max-width: 205px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.made-subcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.made-thumb {
  border-radius: 15px;
  overflow: hidden;
}

.made-thumb img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.made-info {
  padding: 20px 14px;
  background-color: #fff;
  border-radius: 15px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;

  margin-bottom: 20px;
}

.made-list {
}

.made-list-item {
  margin-bottom: 18px;

  position: relative;
  padding-left: 16px;
}

.made-list-item:last-child {
  margin-bottom: 0;
}

.made-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
  /* flex-shrink: 0; */
}

.made-list-text {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .made {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-info {
    padding: 32px;
  }

  .made-subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }

  .made-list {
    padding-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .made-subcontainer {
    flex-wrap: nowrap;
  }

  .made-thumb {
    flex: 0 0 auto;
  }
  .made-thumb img {
    max-width: 100%;
  }

  .made-list {
    padding-right: 27px;
  }

  .made-list-item {
    margin-bottom: 24px;
  }
}

/* ----------------------- */
/* ------- reviews ------- */

.reviews {
  margin-top: 30px;
  margin-bottom: 94px;
}

.reviews-title {
  max-width: 234px;
  margin: 0 auto;
  margin-bottom: 74px;
}

.reviews-list {
  display: flex;
  margin-bottom: 32px;
}

.review-hide1,
.review-hide2 {
  display: none;
}

.reviews-list-item {
  width: 100%;
  padding: 56px 18px 42px;

  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);

  position: relative;
}

.reviews-img {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);

  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;

  margin-bottom: 24px;
}

.reviews-list-txt {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}

.reviews-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;

  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;

  background-color: transparent;

  display: block;
  margin: 0 auto;

  transition: color 250ms ease, background-color 250ms ease;
}

.reviews-btn:hover,
.reviews-btn:focus {
  color: #fff;
  background-color: #fd9222;
}

@media screen and (min-width: 768px) {
  .reviews {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .reviews-title {
    max-width: 268px;
    margin-bottom: 90px;
  }

  .reviews-list {
    gap: 16px;
    margin-bottom: 94px;
  }

  .review-hide1 {
    display: block;
  }

  .reviews-list-item {
    width: calc((100% - 16px) / 2);
    padding: 56px 16px 42px;
  }

  .reviews-btn {
    font-size: 18px;
    padding: 14px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .reviews-list {
    gap: 28px;
    margin-bottom: 50px;
  }

  .review-hide2 {
    display: block;
  }

  .reviews-list-item {
    width: calc((100% - 2 * 28px) / 3);
    padding: 56px 24px 24px;
  }
}

/* ---------------------- */
/* ------- footer ------- */

.footer {
  background-color: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.footer-main-txt {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-address-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-address {
  font-style: normal;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: #fff;

  transition: color 250ms ease;
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: #fd9222;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-nav-link {
  color: #fff;
}

.footer-form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 24px;
  width: 207px;
  height: 45px;
  background-color: transparent;
  outline: transparent;

  font-weight: 600;
  font-size: 14px;
  color: #fff;

  transition: border-color 250ms ease;
}

.footer-input:focus {
  border-color: #fff;
}

.footer-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border: none;

  border-radius: 100px;
  padding: 14px 24px;

  transition: color 250ms ease, background-color 250ms ease;
}

.footer-btn:hover,
.footer-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-top {
    justify-content: space-between;
    align-items: center;

    padding-bottom: 54px;
    margin-bottom: 24px;
  }

  .footer-main-txt {
    font-size: 28px;
    line-height: 1.21;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 16px;
  }

  .footer-hide {
    display: none;
  }

  .footer-input {
    width: 233px;
  }

  .footer-btn {
    padding: 14px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav-list {
    gap: 24px;
  }

  .footer-input {
    width: 313px;
  }

  .footer-btn {
    padding: 18px 32px;
  }
}

/* ------------------------ */
/* ------- backdrop ------- */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(30, 24, 35, 0.55);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border-radius: 15px;
  width: 312px;
  min-height: 620px;
  background: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-icon {
  stroke: #111;

  transition: stroke 250ms ease;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: #fd9222;
}

.modal-title {
  font-size: 18px;
  text-align: left;
  max-width: 255px;
  margin-bottom: 32px;
}

.modal-field {
  margin-bottom: 14px;
}

.modal-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);

  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  height: 45px;

  background-color: transparent;
  padding-left: 44px;
  padding-right: 16px;

  font-size: 18px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #000;
  outline: transparent;

  transition: border-color 250ms ease;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-close-icon {
  fill: transparent;
  stroke: #111111;
}

.modal-field-wrap {
  position: relative;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 18px;

  top: 50%;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  height: 92px;
  background-color: transparent;
  padding: 14px 18px;

  font-size: 18px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #000;
  outline: transparent;
  resize: none;

  transition: border-color 250ms ease;
}

.modal-comment:focus {
  border-color: #fd9222;
}

.modal-comment::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.check-field {
  margin-bottom: 32px;
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #8e8f99;
  display: flex;
  align-items: flex-start;
}

.modal-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;

  transition: background-color 250ms ease, border 250ms ease, fill 250ms ease;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  fill: transparent;
}

.modal-check:checked + .modal-check-text .modal-checkbox {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

.modal-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.modal-link:hover,
.modal-link:focus {
  color: #d06600;
}

.modal-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border: none;

  border-radius: 100px;
  padding: 12px 28px;

  transition: color 250ms ease, background-color 250ms ease;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 518px;
    min-height: 794px;
    padding: 40px;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .modal-title {
    font-size: 24px;
    max-width: 298px;
    margin-bottom: 40px;
  }

  .modal-field {
    margin-bottom: 18px;
  }

  .modal-label {
    margin-bottom: 8px;
  }

  .modal-input {
    border-radius: 14px;
    height: 68px;
    padding-left: 62px;
    padding-right: 24px;
  }

  .modal-icon {
    left: 24px;
  }

  .modal-comment {
    border-radius: 14px;
    height: 138px;
    padding: 22px 24px;
  }

  .modal-comment::placeholder {
    font-size: 18px;
  }

  .check-field {
    margin-bottom: 40px;
  }

  .modal-check-text {
    font-size: 14px;
    align-items: center;
  }

  .modal-btn {
    padding: 14px 40px;
  }
}
