body {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title-accent {
  color: #fd9222;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.nav-list {
  display: flex;
  gap: 24px;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------- HEADER ------- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  /* align-items: center; */
}

.header-nav {
  display: flex;
  align-items: center;

  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;

  display: flex;
  align-items: center;
}

.header-logo-span {
  font-style: italic;
}

.header-nav-list {
}

.header-nav-item {
}

.header-nav-link {
  color: #111;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-soc-list {
  display: flex;
  gap: 18px;
}

.header-soc-item {
}

.header-soc-link {
  padding-top: 24px;
  padding-bottom: 32px;
  display: inline-block;
}

/* ------- HERO ------- */

.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-color: gray;
  padding: 380px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;

  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
  margin-right: 14px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-made-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;

  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-made-btn:hover,
.hero-made-btn:focus {
  color: #fd9222;
  border: 1px solid #fd9222;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;

  margin-left: auto;
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
  color: #fd9222;
}

/* ------- FEATURES ------- */

.features {
  background-color: #1e1823;

  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.features-list-item {
  width: calc((100% - 2 * 88px) / 3);
}

.features-list-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;

  margin-bottom: 18px;
}

.features-list-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ------- TASTE ------- */

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;

  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-list-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px;
  width: calc((100% - 3 * 19px) / 4);
}

.taste-img {
  margin-bottom: 36px;
}

.taste-list-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* ------- MADE ------- */

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-title {
  margin-bottom: 50px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;

  margin-bottom: 28px;
}

.made-list {
}

.made-list-item {
}

.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* ------- CONSUMERS ------- */

.consumers {
  padding-top: 50px;
  padding-bottom: 100px;
}

.consumers-title {
  margin-bottom: 50px;
}

.consumers-list {
  display: flex;
  gap: 28px;

  margin-bottom: 50px;
}

.consumers-list-item {
  width: calc((100% - 2 * 28px) / 3);

  padding: 56px 24px 24px;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
}

.consumers-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;

  margin-bottom: 24px;
}

.consumers-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.consumers-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;

  border: 1px solid #fd9222;
  border-color: none;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;

  display: block;
  margin: 0 auto;
}

.consumers-btn:hover,
.consumers-btn:focus {
  color: #fff;
  background-color: #fd9222;
}

/* ------- FOOTER ------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-title-span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  /* text-align: center; */
  color: #fff;
}

.footer-address {
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  /* text-align: center; */
  color: #fff;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-item {
}

.footer-nav-link {
  color: #fff;
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.footer-btn:hover,
.footer-btn:focus {
  color: #fd9222;
}
