body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */
/* ------- common styles ------- */

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.title-accent {
  color: #fd9222;
}

.section-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.nav-list {
  display: flex;
  gap: 24px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: color 250ms ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

/* ---------------------- */
/* ------- header ------- */

.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-nav-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;

  display: flex;
  align-items: center;
}

.header-logo-accent {
  font-style: italic;
}

.header-nav-link {
  color: #111;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-soc-list {
  display: flex;
  gap: 18px;
}

.header-soc-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-soc-icon:hover {
  fill: #fd9222;
  stroke: #fd9222;
}

/* -------------------- */
/* ------- hero ------- */

.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-color: gray;
  padding: 380px 40px 40px;
  border-radius: 30px;

  background-image: linear-gradient(
      rgba(17, 17, 17, 0.3),
      rgba(17, 17, 17, 0.3)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;

  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-first-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;

  border-radius: 100px;
  padding: 14px 40px;

  background-color: #fd9222;
  border: none;

  margin-right: 14px;

  transition: color 250ms ease, background-color 250ms ease;
}

.hero-first-btn:hover,
.hero-first-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-second-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: transparent;

  border-radius: 100px;
  padding: 14px 40px;
  border: 1px solid #fff;

  transition: color 250ms ease, background-color 250ms ease;
}

.hero-second-btn:hover,
.hero-second-btn:focus {
  color: #fd9222;
  border: 1px solid #fd9222;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;

  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 14px;

  transition: color 250ms ease;
}

.scroll-icon {
  width: 38px;
  height: 38px;
  background-color: #fafafa;
  border-radius: 50%;
  border: no;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill 250ms ease, background-color 250ms ease;
}

.scroll-icon svg {
  fill: #fd9222;
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
  color: #fd9222;
}

.hero-scroll-btn:hover .scroll-icon,
.hero-scroll-btn:focus .scroll-icon {
  background-color: #fd9222;
}

.hero-scroll-btn:hover .scroll-icon svg,
.hero-scroll-btn:focus .scroll-icon svg {
  fill: #fff;

  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(2px);
  }
}

/* ------------------------ */
/* ------- features ------- */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
  /* justify-content: space-between;
  align-items: flex-start; */
}

.features-list-item {
  width: calc((100% - 2 * 88px) / 3);
  position: relative;
}

.features-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  width: 1px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.3);
}

.features-icon-wrapper {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.features-icon {
  fill: #fd9222;
}

.features-list-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-list-txt {
  color: rgba(255, 255, 255, 0.7);
}

/* --------------------- */
/* ------- taste ------- */

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-txt {
  text-align: center;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-list-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #fff;
  padding: 28px;
  width: calc((100% - 3 * 19px) / 4);

  position: relative;
  overflow: hidden;
}

.orange-item {
  border: none;
  background-color: #fd9222;
}

.black-item {
  border: none;
  background-color: #1e1823;
}

.taste-img {
  margin-bottom: 36px;
}

.taste-list-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.white-subtitle {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 20px;
  border-radius: 15px;

  background-color: #fff;

  transform: translateY(100%);
  transition: transform 250ms ease;
}

.taste-list-item:hover .overlay {
  transform: translateY(0);
}

.taste-list-item:hover {
  border: none;
}

.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;

  margin-bottom: 8px;
}

.overlay-btn-container {
  display: flex;
  gap: 6px;
  align-items: center;

  margin-bottom: 14px;
}

.overlay-primery-btn {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;

  border-radius: 35px;
  padding: 6px 16px;

  background-color: #fd9222;
  border: none;

  transition: color 250ms ease, background-color 250ms ease;
}

.overlay-primery-btn:hover,
.overlay-primery-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.overlay-secondary-btn {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #111;
  background-color: transparent;

  border-radius: 35px;
  padding: 6px 16px;
  border: 1px solid #fd9222;

  transition: color 250ms ease, background-color 250ms ease;
}

.overlay-secondary-btn:hover,
.overlay-secondary-btn:focus {
  color: #fff;
  background-color: #fd9222;
}

.overlay-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;

  display: -webkit-box;
  -webkit-line-clamp: 9; /* Кількість рядків */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.semi-sweet-overlay {
  -webkit-line-clamp: 7;
}

/* -------------------- */
/* ------- made ------- */

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-title {
  max-width: 205px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.made-subcontainer {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.made-thumb {
  border-radius: 15px;
  overflow: hidden;
}

.made-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.made-info {
  padding: 32px;
  background-color: #fff;
  border-radius: 15px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  max-width: 350px;
  margin-bottom: 28px;
}

.made-list {
}

.made-list-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 16px;
}

.made-list-item:last-child {
  margin-bottom: 0;
}

.made-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
  flex-shrink: 0;
}

.made-list-txt {
}

/* ----------------------- */
/* ------- reviews ------- */

.reviews {
  margin-top: 50px;
  margin-bottom: 100px;
}

.reviews-title {
  max-width: 268px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  gap: 28px;

  margin-bottom: 50px;
}

.reviews-list-item {
  width: calc((100% - 2 * 28px) / 3);
  padding: 56px 24px 24px;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);

  position: relative;
}

.reviews-img {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);

  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-top: 18px;
  margin-bottom: 24px;
}

.reviews-list-txt {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}

.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;

  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;

  background-color: transparent;

  display: block;
  margin: 0 auto;

  transition: color 250ms ease, background-color 250ms ease;
}

.reviews-btn:hover,
.reviews-btn:focus {
  color: #fff;
  background-color: #fd9222;
}

/* ---------------------- */
/* ------- footer ------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-main-txt {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-adress-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-adress {
  font-style: normal;
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-adress-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: #fff;

  transition: color 250ms ease;
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  color: #fd9222;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-item {
}

.footer-nav-link {
  color: #fff;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  outline: transparent;

  font-weight: 600;
  font-size: 14px;
  color: #fff;

  transition: border-color 250ms ease;
}

.footer-input:focus {
  border-color: #fff;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border: none;

  border-radius: 100px;
  padding: 18px 40px;

  transition: color 250ms ease, background-color 250ms ease;
}

.footer-btn:hover,
.footer-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

/* ------------------------ */
/* ------- backdrop ------- */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(30, 24, 35, 0.55);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border-radius: 15px;
  width: 518px;
  min-height: 794px;
  background: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-icon {
  stroke: #111;

  transition: stroke 250ms ease;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: #fd9222;
}

.modal-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);

  display: block;
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  height: 68px;
  background-color: transparent;
  padding-left: 62px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #000;
  outline: transparent;

  transition: border-color 250ms ease;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-close-icon {
  fill: transparent;
  stroke: #111111;
}

.modal-field-wrap {
  position: relative;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  height: 137px;
  background-color: transparent;
  padding: 22px 24px;

  font-size: 18px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #000;
  outline: transparent;
  resize: none;

  transition: border-color 250ms ease;
}

.modal-comment:focus {
  border-color: #fd9222;
}

.modal-comment::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.checkbox-field {
  margin-bottom: 40px;
}

.modal-check-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  text-align: center;
  gap: 8px;
}

.modal-check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

.privacy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.privacy-link:hover,
.privacy-link:focus {
  color: #d06600;
}

.modal-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border: none;

  border-radius: 100px;
  padding: 14px 40px;

  transition: color 250ms ease, background-color 250ms ease;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
